@page


<h3 class="panel-heading">You are signed out</h3>
<div class="panel-footer">
    <a class="btn btn-default" asp-controller="Home" asp-action="Index">Go Home</a>
</div>
<section class="panel panel-default"></section>